extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        
        h1 Matt Anderson

        
        p.lead.text-light
          | Full Stack JavaScript Developer.

        
        .portfolio-bio
          p
            | My coding journey began when a supervisor gave me the task of learning Front-end programming so that I could understand and maintain a webpage built using Webflow. What I didn't realize at that time was that
            | I was about to start a journey into something I would deeply enjoy. I have always loved learning and challenges, I will pick up a logic puzzle anytime I see one. What I have come to enjoy most about
            | coding is that there is always something to learn and a new challenge ahead. 
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        
        ul
          li JavaScript (including jQuery)
          li HTML
          li CSS
          li API calls
          li Node 
          li Express
          li Pug
          li React (Coming Soon)
          li REST API (Coming Soon)
        h6 Contact Info

        
        ul
          li 206-427-5837
          li manderson3600@gmail.com

        
        a.button.expanded(href='https://www.linkedin.com/in/matt--anderson/') LinkedIn
        a.button.expanded(href='https://github.com/ratistiss') GitHub
        
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  