extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        
        h1 Matt Anderson

        
        p.lead.text-light
          | Full Stack JavaScript Developer.

        
        .portfolio-bio
          p
            | My coding journey began when a previous supervisor gave me the task of learning to program JavaScript, so that I could understand a Webflow built webpage. What I didn't realize at that time was that
            | I was about to start a journey into something I would enjoy deeply. I have always loved learning and challenges, I will pickup a logic puzzle anytime I see one. This is what I have come to enjoy most about
            | coding. 
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        
        ul
          li JavaScript (including jQuery)
          li HTML
          li CSS
          li API calls
          li Node 
          li Express
          li Pug
        h6 Contact Info

        
        ul
          li 206-427-5837
          li manderson3600@gmail.com

        
        a.button.expanded(href='https://www.linkedin.com/in/matt--anderson/') LinkedIn
        a.button.expanded(href='https://github.com/ratistiss') GitHub
        
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  